#container {
    background-color:"";
    width: 500px;
    height: 500px;
    display: grid;
    padding: 0;
    margin: 0 auto;
    /*grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% ;
    /*/
}
#gridbox {
    padding-bottom: 100%;
    border-color: black;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 5vw;
    color:darkcyan;
    background: lightsalmon;
    margin: 1%;
    padding: 1%;
}
#reset {
    margin: 5%;
    padding: 2%;
    border-radius: 5%;
    border-color: transparent;
    background-color: thistle;
    font-family:Arial, Helvetica, sans-serif ;
} 
#reset:hover {
    transform: scale(1.2);
}
#square {
    width: 0;
    padding-bottom: 0;
}